@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Rubik+Moonrocks&display=swap');html,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #F76672;
}
html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
    background-color: #f3f3f3;
}
section{
    padding: 100px 0;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: rgb(34, 34, 34);
    padding: 0 5px;
    background: rgb(190, 190, 190);
    transform: translateX(-50%);
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .skills,.wrapper, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content,
.skills .skills-content,
.wrapper .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.navbar {
    position: fixed;
    width: 100%;
    background-color: #ffffff7e;
    z-index: 999;
    padding: 0px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.nav {
    position: absolute;
    width: 95px;
    height: 53px;
    left: 633px;
    top: -4px;
    font-family: 'inter';
    color: #000000;
}
.nav div.main_list {
    height: 65px;
    float: right;
}
.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    line-height: 65px;
    font-size: 15px;
}

.nav div.main_list ul li a:hover {
    color: #F76672;
}
.button {
    position: relative;
    left: 85%;
    padding: 7px 23px;
    font-size: 18px;
    margin: 11px 0;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

.button1 {
    background-color: #ff5e5e;
    color: #ffffff;
    border: 0.1px solid #ff0000;
}

.button1:hover {
    background-color: #ffffff;
    color: #F76672;
}
.logo a{
    POSITION: absolute;
    top: 0.6em;
    left: 1em;
    color: #F76672;
    font-size: 26px;
    font-weight: 600;
}
.logo a span{
    color: rgb(34, 34, 34);
    transition: all 0.3s ease;
}
.logo a span{
    color: #000000;
}
.man img {
    position: absolute;
    left: 50%;
    width: 500px;
    height: 500px;
    animation: man 2s linear infinite;
}
  @keyframes man {
    100%{
        top: 10%;
        left: 50%;
    }
    50%{
        top: 11%;
        left: 48%;
    }
    0%{
        top: 10%;
        left: 50%;
    }
  }
.pizza1 img {
    position: absolute;
    top: 21%;
    left:40%;
    transform: rotate(40deg);
    width: 100px;
    height: 100px;
    animation: pizza1 10s linear infinite;
}
@keyframes pizza1 {
    100%{
        top: 21%;
        left: 50%;
        transform: rotate(40deg);
    }
    50%{
        top: 10%;
        left: 38%;
        transform: rotate(-180deg);
    }
    0%{
        top: 21%;
        left: 50%;
        transform: rotate(40deg);
    }
  }
  
  .time img {
    position: absolute;
    width: 100px;
    left: 85%;
    top: 16%;
    animation: time 2s linear infinite;
}
@keyframes time {
    100%{
        top: 16%;
        left: 85%;
    }
    50%{
        top: 13%;
        left: 83%;
    }
    0%{
        top: 16%;
        left: 85%;
    }
  }
.text1 a{
    POSITION: absolute;
    top: 3.1em;
    left: 1.5em;
    color: #000000;
    font-size: 56px;
    font-weight: 600;
}
.text1 a span{
    color: #F76672;
    transition: all 0.3s ease;
}
.text1 a span{
    color: #F76672;
}
.text2 a{
    POSITION: absolute;
    top: 4.3em;
    left: 1.5em;
    color: #F76672;
    font-size: 56px;
    font-weight: 600;
}
.text2 a span{
    color: rgb(34, 34, 34);
    transition: all 0.3s ease;
}
.text2 a span{
    color: #000000;
}
.text3 a{
    POSITION: absolute;
    top: 22.2em;
    left: 6.5em;
    color: #000000;
    font-size: 15px;
    text-decoration: none;
}
.text4 a {
    POSITION: absolute;
    top: 23.95em;
    left: 6.5em;
    color: #000000;
    font-size: 15px;
    text-decoration: none;
}
.text5 a{
    POSITION: absolute;
    top: 25.6em;
    left: 6.5em;
    color: #000000;
    font-size: 15px;
    text-decoration: none;
}
.button2 {
    position: absolute;
    left: 9%;
    top: 70%;
    padding: 10px 23px;
    font-size: 15px;
    margin: 11px 0;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}
.button2 {
    background-color: #ff5e5e;
    color: #ffffff;
    border: 0.1px solid #ff0000;
}

.button2:hover {
    background-color: #ffffff;
    color: #F76672;
}
.App a {
    position: absolute;
    top: 32em;
    left: 18em;
    font-size: 15px;
    color: black;
}
.category a{
    POSITION: absolute;
    top: 24.6em;
    left: 16em;
    color: #000000;
    font-size: 26px;
    font-weight: 600;
}
.category a span{
    color: #F76672;
    transition: all 0.3s ease;
}
.category a span{
    color: #F76672;
}
.about{
    background: rgb(236, 236, 236) center no-repeat;
    display: flex;
    height: 100vh;
    color: rgb(0, 0, 0);
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}

.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: rgb(49, 48, 48);
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: rgb(49, 48, 48);
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid rgb(49, 48, 48);
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: rgb(49, 48, 48);
    background: none;
}
.about .about-content .right{
    width: 55%;
}
/* responsive media query start */
@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}
@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}
@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .serv-content .card{
        width: 100%;
    }
}
@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .right form .error-box{
       width: 150px;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}